h1 {
	color: #1946ba;
	font: 12px OpenSans, bold;
	}
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
}
